* {
    box-sizing: border-box;
}

body {
    background-color: #242424;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

.container {
    max-width: 800px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.color {
    width: 160px;
    height: 160px;
    background-color: aqua;
    margin: 20px;
}