* {
    box-sizing: border-box;
}

body {
    background-color: #242424;
    margin: 0;
    padding: 0;
    color: white;
    font-family: monospace, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

.optionPanel {
    text-align: center;
    background-color: beige;
    color: black;
}

.container {
    max-width: 800px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.color {
    width: 160px;
    height: 160px;
    background-color: aqua;
    margin: 20px;
    border-radius: 15%;
}

button {
    border: none;
    outline: none;
    padding: 10px;
    font-family: monospace, sans-serif;
    background-color: burlywood;
}